name: aidd_proj
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - ipykernel
  - pip:
      - beautifulsoup4==4.12.3
      - certifi==2024.2.2
      - charset-normalizer==3.3.2
      - idna==3.6
      - numpy==1.26.4
      - pandas==2.2.0
      - pytz==2024.1
      - requests==2.31.0
      - soupsieve==2.5
      - tzdata==2023.4
      - urllib3==2.2.0
